/* App.css */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  padding-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.file-input {
  margin-top: 5px;
  padding: 5px;
}

.select {
  margin-top: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  padding: 10px 20px;
  background-color: #1565c0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(3, 149, 222);
}

.result {
  margin-top: 30px;
  padding: 20px;
  background-color: #e3f2fd;
  border-radius: 8px;
  border: 1px solid #90caf9;
}

.result-title {
  padding-top: 30px;
  color: #1565c0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.result-table th,
.result-table td {
  border: 1px solid #90caf9;
  padding: 10px;
  text-align: center;
}

.result-table th {
  background-color: #1565c0;
  color: white;
}

.result-table tr:nth-child(even) {
  background-color: #e3f2fd;
}

.result-table tr:hover {
  background-color: #bbdefb;
}
